/* body {
  background-color: red;
} */

div {
  min-height: 100px;
  background-color: #ff7979;
}

section {
  max-width: 200px;
}

.green-bg {
  background-color: #dcffdc;
}

#middle-div {
  background-color: #a6d8f4;
}
